<h2>Categoria A</h2>
<h3>Cuprinde categoriile A,A1,A2,AM:</h3>
<h3> -Categoria A: </h3>
<p>
    - motociclete cu sau fără ataş şi tricicluri cu motor cu puterea de peste 15 kW;
    </br></br>
    - vârsta minimă 20 de ani împliniţi, dacă persoana are o experienţă de cel puţin 2 ani de conducere a motocicletelor
    din categoria A2, sau 24 ani împliniți, pentru motocicletele din categoria A.
</p>
<h3>-Categoria A1:</h3>
<p>
    - motociclete cu cilindree maximă de 125 cmc, cu puterea maximă de 11 kW şi cu un raport putere/greutate de cel mult
    0,1 kW/kg;
    </br></br>
    -tricicluri cu motor cu puterea maximă de 15 kW;
    </br></br>
    -vârsta minimă 16 ani împliniţi.
</p>
<h3>-Categoria A2:</h3>
<p>
    - motociclete cu puterea maximă de 35 kW, cu un raport putere/greutate care nu depăşeşte 0,2 kW/kg şi care nu sunt
    derivate dintr-un vehicul având mai mult de dublul puterii sale;
    </br></br>
    -vârsta minimă 18 ani împliniţi.
</p>
<h3> -Categoria AM: </h3>
<p>
    -mopede;
    </br></br>
    -vârsta minimă 16 ani împliniţi.
</p>