<h2>Categoria B</h2>
<h3>Cuprinde categoriile B, B1:</h3>
<h3>  -Categoria B: </h3>
<p>
    - autovehiculul a cărui masă totală maximă autorizată nu depăşeşte 3.500 kg şi al cărui număr de locuri pe scaune,
    în afara conducătorului, nu este mai mare de 8;
    </br></br>
    - ansamblul format dintr-un autovehicul trăgător din categoria B şi o remorcă a cărei masă totală maximă autorizată
    nu depăşeşte 750 kg;
    </br></br>
    - ansamblul de vehicule a căror masă totală maximă autorizată nu depăşeşte 4.250 kg, format dintr-un autovehicul
    trăgător din categoria B şi o remorcă a cărei masă totală maximă autorizată depăşeşte 750 kg (dacă ansamblul
    depășește 3500 kg se poate conduce numai dacă fac dovada că au absolvit un curs de formare în cadrul unei unităţi
    autorizate de pregătire a conducătorilor de vehicule) (art. 24*1 alin. 3 din OUG);
    </br></br>
    -vârsta minimă 18 ani împliniţiș
</p>
<h3> -Categoria B1: </h3>
<p>
    - motociclete cu cilindree maximă de 125 cmc, cu puterea maximă de 11 kW şi cu un raport putere/greutate de cel mult
    0,1 kW/kg;
    </br></br>
    -tricicluri cu motor cu puterea maximă de 15 kW;
    </br></br>
    -vârsta minimă 16 ani împliniţi.
</p>