<form action="/verificare-inregistrare" method="post">
    <div class="body-container">
        <div class="body-container4">
            <h1>Înregistrează-te</h1>
            <p>Vă rugam să completați formularul de mai jos pentru a vă putea înregistra.</p>
            <hr>
        </br>
        <label for="name"><b>Nume</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Introduceți numele" id="name" name="name" required>
        </br></br>
            <label for="email"><b>Email</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" placeholder="Introduceți email-ul" id="email" name="email" required>
        </br></br>
            <label for="password"><b>Parola</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Introduceți parola" id="password" name="password" required>
        </br></br>

            <label for="passwordRepeat"><b>Repetați parola</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" placeholder="Repetați parola" id="passwordRepeat" name="passwordRepeat" required>
        </br></br>
            <hr>

            <p>Prin crearea contului sunt de acord cu <a href="#">termenii si conditiile</a>.</p>
            <button type="submit" class="registerbutton">Înregistrare</button>
            <p>Aveți deja un cont? <a href="/autentificare">Autentificare</a>.</p>
        </div>
            
    </div>
</form>