<table>
    <tr>
        <td>Produs</td>
        <td>Pret</td>
    </tr>
    <% for(var i=0;i<cosCumparaturi.length ;i++){ %>
        <tr>
            <td> <%= cosCumparaturi[i]['nume'] %></td>
            <td> <%= cosCumparaturi[i]['pret'] %></td>
        </tr>
        <% } %>
</table>